* {
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.login-header,
.register-header,
.change-password-header,
.forgot-password-header {
  margin: 1rem;
  font-weight: bold;
}
.login-container,
.register-container,
.change-password-container,
.forgot-password-container {
  background: #f1e8e6;
  border: 1px solid rgb(14, 13, 53);
  border-radius: 5px;
  margin: 1rem 3rem;
  min-height: 400px;
}
.btn {
  cursor: pointer;
  height: 2rem;
  width: 6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0.5rem;
  background: #543c52;
  color: white;
}

.login-form__section,
.register-form__section,
.change-password-form__section,
.forgot-password-form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cancel-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0.5rem;
}
.login-form,
.register-form,
.change-password-form,
.forgot-password-form {
  width: 90%;
  margin: 1rem;
}

.login-field__inputname,
.login-field__inputpassword,
.register-field__inputname,
.register-field__inputpassword,
.change-password-field__inputpassword,
.forgot-password-field__inputname {
  width: 90%;
  height: 2.5rem;
  margin: 1rem 0.5rem;
  border-radius: 5px;
  text-align: center;
}
.login-field__button,
.register-field__button,
.change-password-field__button,
.forgot-password-field__button {
  width: 90%;
}
.cancel-field__button {
  justify-content: flex-start;
  background: #f55951;
}
.signup {
  margin: 0.5rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.anchor {
  text-decoration: none;
  color: rgb(59, 10, 25);
}
.message {
  text-align: center;
  margin: 0.5rem 1rem;
}

@media only screen and (min-width: 767px) {
  .login-container,
  .register-container,
  .change-password-container,
  .forgot-password-container {
    width: 500px;
  }
  .cancel-field {
    margin: 0 2.5rem;
  }
  .login-field__button,
  .register-field__button,
  .change-password-field__button,
  .forgot-password-field__button {
    width: 82%;
  }
  .login-field__inputname,
  .login-field__inputpassword,
  .register-field__inputname,
  .register-field__inputpassword,
  .change-password-field__inputpassword,
  .forgot-password-field__inputname {
    width: 90%;
  }
}
